빅데이터분석기사 실기 2회 작업형 문제 복기

작업형 1유형

In [2]:
# 1. feature1 상위 10개 값을 상위 10번째 값으로 대체한 후, 
# feature2 80이상인 데이터만 추출하여 feature1의 평균 구하기 

import pandas as pd 

df = pd.read_csv('data\\case1_no1.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Feature1  506 non-null    float64
 1   Feature2  506 non-null    float64
dtypes: float64(2)
memory usage: 8.0 KB

In [4]:
df.head()

   Feature1  Feature2
0      4.98      72.0
1      9.14      64.8
2      4.03     104.1
3      2.94     100.2
4      5.33     108.6

In [5]:
# big_10 = df.sort_values(by='Feature1', ascending = False).iloc[:10, 0].values   
big_10 = df.sort_values(by='Feature1', ascending = False).iloc[9, 0]   # 열번째 값 ! 
print(big_10)

# sorting 안 한 데이터에 대입 
df.iloc[:10, 0] = big_10

print(df.iloc[:15])

30.63
    Feature1  Feature2
0      30.63      72.0
1      30.63      64.8
2      30.63     104.1
3      30.63     100.2
4      30.63     108.6
5      30.63      86.1
6      30.63      68.7
7      30.63      81.3
8      30.63      49.5
9      30.63      56.7
10     20.45      45.0
11     13.27      56.7
12     15.71      65.1
13      8.26      61.2
14     10.26      54.6

In [6]:
# 다른 방법 
df = df.sort_values(by='Feature1', ascending=False).reset_index(drop=True)
print(df.loc[9])

# sorting 한 데이터에 대입 (정답!)
df.loc[0:9, 'Feature1'] = df.loc[9, 'Feature1']   
df.head(15)

Feature1    30.63
Feature2    64.80
Name: 9, dtype: float64

    Feature1  Feature2
0      30.63      41.4
1      30.63      21.0
2      30.63      41.4
3      30.63      43.2
4      30.63      53.7
5      30.63      25.2
6      30.63      22.2
7      30.63      43.2
8      30.63      21.6
9      30.63      64.8
10     30.63      26.4
11     30.63      72.0
12     30.63      86.1
13     30.63      81.3
14     30.63     104.1

In [7]:
df[df['Feature2'] >= 80]['Feature1']

12     30.63
13     30.63
14     30.63
15     30.63
16     30.63
       ...
501     2.87
502     2.47
503     1.98
504     1.92
505     1.73
Name: Feature1, Length: 114, dtype: float64

In [8]:
import numpy as np 

answer = df[df['Feature2'] >= 80]['Feature1'].mean()
answer = np.mean(df[df['Feature2'] >= 80]['Feature1'])  # 다른 풀이 
print(answer)

6.9342105263157885

In [19]:
# 2. 주어진 데이터셋에서 feature2 상위 80%인 학습 데이터셋 생성한 후, 
# Feature1 의 결측치를 Feature1의 중앙값으로 대체하고, 
# 대체하기 전 후의 표준편차 차이 구하기 

df = pd.read_csv('data\\case1_no2.csv')
# print(df.shape)   # (105, 2)

df = df.sort_values(by='Feature2', ascending = False).reset_index(drop=True)

# from sklearn.model_selection import train_test_split
# df_train, df_test = train_test_split(df, test_size = 0.2) # 오답 

idx = int(len(df)* 0.8)
print(idx)
old_df = df.iloc[:idx, :]   # 정답 ! 

print(old_df.shape) # (84, 2)
print(old_df['Feature1'].std())

# df_train.isnull().sum()

value = old_df['Feature1'].median()   # 오답 
value = old_df[old_df['Feature1'].notnull()]['Feature1'].median()   # 정답 ! 
print(value)

new_df = old_df.fillna(value)
new_df.isnull().sum()


old_std = old_df['Feature1'].std()
new_std = new_df['Feature1'].std()

print(old_std)
print(new_std)
print(old_std - new_std)

84
(84, 2)
3.838361545992856
20.52
3.838361545992856
3.425986402676651
0.41237514331620506

In [10]:
# 3. feature1 의 이상치를 구하여 이상치들의 합계 구하기 
# (이상치는 평균으로부터 표준편차*1.5 만큼 위 아래로 벗어난 값을 의미)

df = pd.read_csv('data\\case1_no1.csv')

mean = df['Feature1'].mean()
std = df['Feature1'].std()
threshold = std * 1.5 

df[(df['Feature1'] > mean + threshold) | (df['Feature1'] < mean - threshold)]['Feature1'].sum()

1300.96

In [20]:
# 3. feature1 의 이상치를 구하여 이상치들의 합계 구하기 
# (이상치는 q1, q3으로부터 사분위범위*1.5 만큼 위 아래로 벗어난 값을 의미)

df = pd.read_csv('data\\case1_no1.csv')

q1 = np.percentile(df['Feature1'], 25)
q3 = np.percentile(df['Feature1'], 75)
iqr = q3 - q1
lower_limit = q1 - iqr * 1.5
upper_limit = q3 + iqr * 1.5

df[(df['Feature1'] > upper_limit) | (df['Feature1'] < lower_limit)]['Feature1'].sum()

244.51000000000002

작업형 2유형

In [21]:
# 대출 연체 (target 변수: Bankrupt) 이진 분류 문제이고 
# 평가는 roc_aux 이다. 
# auc 0.6 이상의 분류 모형을 생성하라

In [59]:
import pandas as pd 

df = pd.read_csv('data\\case2_no1.csv')
print(df.info())

print(df['bankrupt'].value_counts())
# --> 과도한 불균형 데이터가 아니다 

# 결측치 처리 
# print(df.isnull().sum())
replacing_value = df['score'].mean()
df['score'] = df['score'].fillna(replacing_value)
# print(df.isnull().sum())

# 이상치 처리 
print(df['Pclass'].value_counts())
df.loc[df['Pclass'] == '*3', 'Pclass'] = '3'
print(df['Pclass'].value_counts())

# 더미 변수 생성 
df = pd.get_dummies(df)

# 다른 방법 
# df['normal'] = df['grade'].apply(lambda x: 1 if x=='normal' else 0)
# df['good'] = df['grade'].apply(lambda x: 1 if x=='good' else 0)

display(df)

X = df.iloc[:, 1:]
y = df['bankrupt']

from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 11)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier()
rf_model.fit(x_train, y_train)
y_pred = rf_model.predict(x_test)

from sklearn.metrics import accuracy_score

accuracy = accuracy_score(y_test, y_pred)
print(accuracy)

from sklearn.model_selection import GridSearchCV

# 하이퍼파라미터 튜닝 
params = {
    'n_estimators': [10, 50, 100], 
    'max_depth': [3, 6, 8, 10], 
    'max_features': [2, 4, 6]
}

grid_search = GridSearchCV(rf_model, params, cv = 5)
grid_search.fit(x_train, y_train)
print(grid_search.best_params_)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   bankrupt  891 non-null    int64
 1   Pclass    891 non-null    object
 2   grade     891 non-null    object
 3   score     714 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 28.0+ KB
None
0    549
1    342
Name: bankrupt, dtype: int64
3     474
1     216
2     184
*3     17
Name: Pclass, dtype: int64
3    491
1    216
2    184
Name: Pclass, dtype: int64

,bankrupt,score,Pclass_1,Pclass_2,Pclass_3,grade_good,grade_normal
0,0,22.000000,0,0,1,0,1
1,1,38.000000,1,0,0,1,0
2,1,26.000000,0,0,1,1,0
3,1,35.000000,1,0,0,1,0
4,0,35.000000,0,0,1,0,1
...,...,...,...,...,...,...,...
886,0,27.000000,0,1,0,0,1
887,1,19.000000,1,0,0,1,0
888,0,29.699118,0,0,1,1,0
889,1,26.000000,1,0,0,0,1
890,0,32.000000,0,0,1,0,1

(712, 6)
(179, 6)
(712,)
(179,)
0.8435754189944135
{'max_depth': 6, 'max_features': 6, 'n_estimators': 50}

In [62]:
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier(
    max_depth = 6, 
    max_features = 6, 
    n_estimators = 50
)
rf_model.fit(x_train, y_train)
y_pred = rf_model.predict_proba(x_test)

# from sklearn.metrics import accuracy_score

# accuracy = accuracy_score(y_test, y_pred)
# print(accuracy)